@charset "UTF-8";
body{
    font-family: tahoma;
    background: #e2e2e2;
    margin: 0;    
}
h3{
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #606060;
}
form{
    margin: 0 auto;
    background: #96b8e0;
    width: 450px;
    height: 200;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);        
}
.group{
    margin: 10px;
    padding: 5px;    
}
label{
    padding-left: 10px;
    text-transform: uppercase;
}
input{
    margin-top: 5px;
    height: 40px;
    width: 400px;
    border-radius: 20px/20px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82); 
}
.login_btn{
    cursor: pointer;
    padding: 10px 30px;
    width: 110px;
    height: 50px;
    color: #fff;
    background: #595959;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82); 
}
input:focus{
    border: 2px solid #93acc9;
    transform: translateX(15px);
    width: 385px;
}
button:hover{
    opacity: .80;
    font-weight: bold;
    transform: : scale(1.1);
}
#header{
    margin: 10px auto;
    padding: 20px;
    
}